In [1]:
#importint all the neccessary packages to be used 
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
#reading the data set using pandas
df_FBS = pd.read_csv("FoodBalanceSheet_E_NOFLAG.csv", encoding='latin-1')

In [3]:
#getting the first 5 rows of the dataset
df_FBS.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#getting an overview of the data to get the unique number, mean and standard deviation
df_FBS.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
#checking for missing values
df_FBS.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [6]:
#calling formula to calculate the missing value percentage for each attribute
missing_values_percentage = df_FBS.isnull().mean()*100

In [7]:
# to pring out missing formula
print(missing_values_percentage)

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [8]:
#calling for the total count of each column that are not null
df_FBS.count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [10]:
#summing up all observation in 2014
df_FBS.Y2014.sum()

7965086.130000001

In [11]:
#summing up all observation in 2018
df_FBS.Y2018.sum()

8554629.96

In [12]:
df_FBS.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [13]:
#total protein supply quantity in Madagascar in 2015
df_FBS[(df_FBS['Element'] == 'Protein supply quantity (g/capita/day)') & (df_FBS['Area'] == 'Madagascar')].groupby(['Area', 'Element'])['Y2015'].sum().sum()

173.05

In [14]:
#groupby operation on element to calculate the total number of the sum of processing in 2017
df_FBS[(df_FBS['Element'] == 'Processing')].groupby(['Element'])['Y2017'].sum().sum()

292836.0

In [16]:
#a groupby operation to determine the area with the highest sum in 2017
df_FBS[['Y2017', 'Area']].groupby(['Area']).sum().sort_values(by='Y2017', ascending=False).reset_index().iloc[0]['Area']

'Nigeria'

In [18]:
#groupby operation on area to determine the areas that had the 7th lowest sum in 2017
df_FBS[['Y2017', 'Area']].groupby(['Area']).sum().sort_values(by='Y2017').reset_index().iloc[6]['Area']

'Guinea-Bissau'

In [19]:
#to calculate the year with the least correlation with 'Element Code' column
df_FBS[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code'].sort_values().index[0]

'Y2016'

In [15]:
#groupby operation on 'Element' to get the year with the highest sum of stock variation
df_FBS[df_FBS['Element'] == 'stock variation'].groupby(['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']).sum().sort_values(by='Element', ascending=True).reset_index().iloc[0][0]

KeyError: 'Element'